<%= form_with(model: log) do |form| %>
  <% if log.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this critica from being saved:</h2>

      <ul>
        <% log.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table table-striped">
  <div>
    <%= form.label :comentario_id, style: "display: block" %>
    
  </div>

  <div>
    <%= form.label :created_at, style: "display: block" %>
    
  </div>
  </table>
  
<% end %>
