<div id="<%= dom_id filme %>">
  <p>
    <strong>Título:</strong>
    <%= filme.titulo %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= filme.ano_lancamento %>
  </p>

  <p>
    <strong>Elenco:</strong>
    <%= filme.ator_id %>
  </p>
  
   <!-- <strong>Comentários</strong <%=  %> > -->


</div>
