<!DOCTYPE html>
<html>
  <head>
    <title>Projeto2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div> 
    </div>
    <%=render 'layouts/menu'%>
    <br>
    <div class="container">
    <h3>Catálogo de filmes - <%= Date.current.year %> </h3>
    <br>
    <%= yield %>
    </div>
    <br>
  </body>
</html>
